/******************************************************/
/******************* CORPS DE SITE ********************/
/******************************************************/

body{
    background-color: #1565c0;
}

/******************************************************/
/*********************** FONTS ************************/
/******************************************************/



/******************************************************/
/*********************** BLOCS ************************/
/******************************************************/

@mixin bloc {
    background-color: white;
    padding: 1rem;
}

.bloc-login{
    @include bloc();
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}