#home-intro{
    @media screen and (min-width: 1024px) {
        .columns-block-item{
            flex: 50%;
            &:last-child{
                flex: 50%;
            }
        }
        .cover-image{
            height: 100%;
            padding-top: 0;
        }
    }
    @media screen and (min-width: 1200px) {
        .columns-block-item{
            flex: 40%;
            &:last-child{
                flex: 60%;
            }
        }
    }
    @media screen and (min-width: 1440px) {
        .columns-block-item{
            flex: 35%;
            &:last-child{
                flex: 65%;
            }
        }
    }
}

.bloc-service{
    .text{
        padding: 2rem;
    }
    .cover-image{
        margin-top: 0;
    }
    &:last-child{
        margin-bottom: 2rem;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        margin: 7vw 0;
        .text, .cover-image{
            flex-basis: 50%;
        }
        .text{
            padding: 7vw;
            box-sizing: border-box;
        }
        .cover-image{
            padding-top: inherit;
        }
        &:nth-child(odd){
            flex-direction: row-reverse;
        }
    }
    @media screen and (min-width: 1024px) {
        align-items: center;
        .cover-image{
            height: 62.75vh;
        }
    }
}

#about-home{
    .columns-block-item{
        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }
    @media screen and (min-width: 1024px){
        .columns-block{
            display: flex;
            justify-content: space-between;
            gap: 7vw;
        }
        .columns-block-item{
            flex-basis: 33.33%;
            &:not(:last-child){
                margin-bottom: 0;
            }
        }
    }
}