.navbar{
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
        width: 4rem;
        padding: 1rem;
        box-sizing: border-box;
        background: #102027;
        border-right: .0625rem solid rgba($color: #fff, $alpha: .25);
    }
}