<!-- Cover Page -->
<section class="title-image-block">
  <div class="title">
    <h1>
      Communication digitale<br />
      <span class="blue-title">Création de votre site internet</span>
    </h1>
  </div>
  <div class="image">
    <img src="../uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
  </div>
</section>

<!-- Intro Service -->
<section class="intro-service">
  <div class="title">
	<h2>
      La nécessité d'avoir un site Internet pour mieux communiquer en ligne
    </h2>
  </div>
  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque felis elit, sit amet pellentesque eros efficitur vel. Donec laoreet convallis nisl et tincidunt. Cras purus dolor, luctus eget efficitur eu, scelerisque ornare dui. Duis cursus nulla eu tempus mattis. Pellentesque at aliquam urna. Donec blandit erat eu sem egestas, sit amet volutpat nisi auctor.</p>
      <p>Pellentesque eleifend arcu sit amet felis tempus venenatis. Suspendisse potenti. Maecenas lobortis convallis metus, eu lobortis libero pretium sit amet. Fusce vulputate cursus lacus, consequat eleifend lectus ultrices dignissim. Sed in faucibus ex, ac ultrices libero. Quisque non lorem turpis. Proin id feugiat ante, eget.</p>
      <p>Pellentesque eleifend arcu sit amet felis tempus venenatis. Suspendisse potenti. Maecenas lobortis convallis metus, eu lobortis libero pretium sit amet. Fusce vulputate cursus lacus, consequat eleifend lectus ultrices dignissim. Sed in faucibus ex, ac ultrices libero. Quisque non lorem turpis. Proin id feugiat ante, eget.</p>
  </div>
</section>

<!-- Citation -->
<section class="citation">
  <div class="content">
    <h2 class="citation-text">
      La chose la plus importante en communication,<br />
      c’est d’entendre ce qui n’est pas dit
    </h2>
    <p class="author">
      Peter Drucker
    </p>
  </div>
</section>

<!-- Parallax -->
<figure class="parallax no-mobile">
	<img src="../uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
</figure>

<!-- Bloc Details -->
<section class="details-service">
  <div class="details-service-text">
    <h2>
      La communication digitale est l'atout indispensable pour assurer votre stratégie marketing
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque felis elit, sit amet pellentesque eros efficitur vel. Donec laoreet convallis nisl et tincidunt. Cras purus dolor, luctus eget efficitur eu, scelerisque ornare dui.</p>
    <p>Duis cursus nulla eu tempus mattis. Pellentesque at aliquam urna. Donec blandit erat eu sem egestas, sit amet volutpat nisi auctor.</p>
    <div class="details-service-list">
      <p class="details-service-list-title">
        <strong>Services</strong>
      </p>
      <ul>
        <li>Conception graphique de site internet</li>
        <li>Développement sur-mesure</li>
        <li>Responsive Design</li>
        <li>Maintenance de votre site</li>
        <li>Gestion de vos réseaux sociaux<br />
        <a href="https://www.agence-gestion-com.fr" rel="noopener" target="_blank">(AGC Web)</a></li>
        <li>Reportage photo/vidéo<br />
        (2C Events)</li>
      </ul>
    </div>
  </div>
  <figure class="details-service-cover cover-image">
    <img src="../uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
  </figure>
  <figure class="details-service-cover cover-image cover-image-2">
    <img src="../uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
  </figure>
</section>