<!-- Cover Page -->
<section class="title-image-block">
  <div class="title">
    <h1>
      Marketing digital<br />
      <span class="blue-title">E-Commerce et campagnes d'Emailing</span>
    </h1>
  </div>
  <div class="image">
    <img src="../uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
  </div>
</section>

<!-- Intro Service -->
<section class="intro-service">
  <div class="title">
	<h2>
      Les bienfaits de la vente en ligne depuis un site E-Commerce pour votre chiffre d'affaire
    </h2>
  </div>
  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis neque ut ullamcorper rhoncus. In a turpis bibendum, molestie justo eu, fringilla nisl. Morbi porttitor tincidunt felis, id interdum libero venenatis at. Nunc pharetra tincidunt sagittis. Nunc et nunc nec enim ultricies malesuada. Etiam venenatis eros a nibh faucibus, sit amet pellentesque justo finibus. Aliquam vel elementum orci, in sollicitudin enim. Cras ac massa non nisi consectetur mattis. In tristique id turpis a malesuada. Nam malesuada est risus, quis sodales ipsum lobortis eget.</p>
    <p>Aliquam nec odio in purus eleifend interdum dapibus sed odio. Fusce ut tristique augue. Morbi dictum viverra urna eu pulvinar. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus et ligula nulla. Cras a malesuada purus. Aenean ut ex placerat, commodo elit eget, vestibulum nisi. Suspendisse ornare elit ut elit scelerisque sodales. Sed eget rhoncus augue. Aenean molestie, turpis non vehicula varius, ligula metus gravida ligula, eget venenatis diam arcu at ligula. Vivamus risus metus, iaculis ac interdum vel, dignissim eget urna. Phasellus ac tincidunt eros. Mauris fermentum viverra tortor, vulputate vulputate nisi suscipit at. Donec ligula lectus, pulvinar et ligula non, euismod pretium velit. Phasellus nec ipsum quis ex gravida pretium. Pellentesque porttitor magna.</p>
  </div>
</section>

<!-- Citation -->
<section class="citation">
  <div class="content">
    <h2 class="citation-text">
      Plus vous êtes omniprésent dans l’esprit de votre prospect, <br />
      plus vous allez créer une relation de proximité avec lui.
    </h2>
    <p class="author">
      Sébastien Night
    </p>
  </div>
</section>

<!-- Parallax -->
<figure class="parallax no-mobile">
	<img src="../uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
</figure>

<!-- Bloc Details -->
<section class="details-service">
  <div class="details-service-text">
    <h2>
      La communication digitale est l'atout indispensable pour assurer votre stratégie marketing
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulputate ex pulvinar ultricies volutpat. Donec non fermentum quam. Sed in suscipit tellus. Nam vehicula id lacus ac pharetra. Vestibulum non fermentum tellus, et eleifend lorem. Sed rutrum augue urna, id sollicitudin leo fermentum placerat. Maecenas felis augue, consectetur eu blandit vehicula, dictum quis risus. Vivamus in dui eget purus mattis bibendum in ut sem. Etiam vitae odio non orci scelerisque lacinia.</p>
    <p>Aliquam rutrum urna magna, sit amet fringilla ante imperdiet eget. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus ac pharetra urna. Nullam tristique.</p>
    <div class="details-service-list">
      <p class="details-service-list-title">
        <strong>Services</strong>
      </p>
      <ul>
        <li>Développement de site E-Commerce</li>
        <li>Référencement SEO/SEA</li>
        <li>Campagnes E-Mailing et SMS</li>
        <li>Maintenance de votre site</li>
      </ul>
    </div>
  </div>
  <figure class="details-service-cover cover-image">
    <img src="../uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
  </figure>
  <figure class="details-service-cover cover-image cover-image-2">
    <img src="../uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
  </figure>
</section>