<!-- Cover Page -->
<section class="title-image-block">
  <div class="title">
    <h1>
      Identité visuelle<br />
      <span class="blue-title">Développement de votre image de marque</span>
    </h1>
  </div>
  <div class="image">
    <img src="../uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
  </div>
</section>

<!-- Intro Service -->
<section class="intro-service">
  <div class="title">
    <h2>
      Pourquoi avoir une identité de marque pour son entreprise ?
    </h2>
  </div>
  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque felis elit, sit amet pellentesque eros efficitur vel. Donec laoreet convallis nisl et tincidunt. Cras purus dolor, luctus eget efficitur eu, scelerisque ornare dui. Duis cursus nulla eu tempus mattis. Pellentesque at aliquam urna. Donec blandit erat eu sem egestas, sit amet volutpat nisi auctor.</p>
    <p>Pellentesque eleifend arcu sit amet felis tempus venenatis. Suspendisse potenti. Maecenas lobortis convallis metus, eu lobortis libero pretium sit amet. Fusce vulputate cursus lacus, consequat eleifend lectus ultrices dignissim. Sed in faucibus ex, ac ultrices libero. Quisque non lorem turpis. Proin id feugiat ante, eget.</p>
    <p>Pellentesque eleifend arcu sit amet felis tempus venenatis. Suspendisse potenti. Maecenas lobortis convallis metus, eu lobortis libero pretium sit amet. Fusce vulputate cursus lacus, consequat eleifend lectus ultrices dignissim. Sed in faucibus ex, ac ultrices libero. Quisque non lorem turpis. Proin id feugiat ante, eget.</p>
  </div>
</section>

<!-- Citation -->
<section class="citation">
  <div class="content">
    <h2 class="citation-text">
      En terme de design, il y a selon moi deux choses essentielles :<br />
      la simplicité et la clarté. Un bon design naît de ces deux éléments
    </h2>
    <p class="author">
      Lindon Leader
    </p>
  </div>
</section>

<!-- Parallax -->
<figure class="parallax no-mobile">
  <img src="../uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
</figure>

<!-- Bloc Details -->
<section class="details-service">
  <div class="details-service-text">
    <h2>
      L'identité visuelle, la signature de votre marque indispensable pour votre communication
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque felis elit, sit amet pellentesque eros efficitur vel. Donec laoreet convallis nisl et tincidunt. Cras purus dolor, luctus eget efficitur eu, scelerisque ornare dui.</p>
    <p>Duis cursus nulla eu tempus mattis. Pellentesque at aliquam urna. Donec blandit erat eu sem egestas, sit amet volutpat nisi auctor.</p>
    <div class="details-service-list">
      <p class="details-service-list-title">
        <strong>Services</strong>
      </p>
      <ul>
        <li>Charte graphique</li>
        <li>Logotype</li>
        <li>Supports de communication Print</li>
        <li>Création de documents administratifs</li>
        <li>Signature de marque</li>
      </ul>
    </div>
  </div>
  <figure class="details-service-cover cover-image">
    <img src="../uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
  </figure>
  <figure class="details-service-cover cover-image cover-image-2">
    <img src="../uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
  </figure>
</section>