<!-- COVER PAGE -->
<section class="title-image-block">
  <div class="title">
    <h1>
      Un prestataire qui vous aide sur 3 actions<br />
      <span class="blue-title">S'identifier - Communiquer - Vendre</span>
    </h1>
  </div>
  <div class="image">
    <img src="./uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
  </div>
</section>

<!-- HOME INTRO SECTION -->
<section id="home-intro" class="columns-block-container">
  <h2>
    Une image vaut mieux que mille mots
  </h2>
  <div class="columns-block">
    <div class="columns-block-item">
      <p>
        Webmaster freelance basé en région parisienne : Une seule vocation, sublimer la communication de votre entreprise.
      </p>
      <p>
        Confiez votre projet digital à un prestataire unique. La maitrise des outils graphiques et informatiques permet l’élaboration d’une stratégie marketing globale, homogène et à votre image.
      </p>
      <p>
        Quel que soit votre demande, j’accorde une grande importance à la relation humaine, c’est donc avec un grand intérêt que je vous accompagne et vous conseille dans le développement de votre visibilité en ligne.
      </p>
      <p>
        Après une étude de vos objectifs en communication et marketing digital, je mets en place votre identité visuelle et j’élabore votre communication sur-mesure et déclinable sur supports numériques et imprimés.
      </p>
      <p>
        À la livraison du projet, ma mission ne s’arrête pas là. J’assure une veille technologique ainsi qu’un audit régulier des performances de votre site et de son positionnement sur Google.
      </p>
    </div>
    <div class="columns-block-item">
      <figure class="cover-image">
        <img src="./uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
      </figure>
    </div>
  </div>
</section>

<!-- Parallax -->
<figure class="parallax">
  <img src="./uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
</figure>

<!-- Bloc Service Image de marque -->
<section class="bloc-service">
  <div class="text">
    <h2>
		Une identité visuelle soignée et à votre image
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales mattis facilisis. Morbi non nisi id augue pharetra ultrices sit amet sit amet erat. Curabitur elementum justo nec orci vulputate, at semper odio fringilla. Aliquam vitae arcu porttitor nisi maximus interdum. Nam viverra convallis nisl, quis commodo justo dapibus a. Vivamus tempus nibh ligula. Pellentesque habitant morbi tristique senectus et.
    </p>
  </div>
  <figure class="cover-image">
    <img src="./uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
  </figure>
</section>

<!-- Bloc Service Communication digitale -->
<section class="bloc-service">
  <div class="text">
    <h2>
		Une communication digitale sur-mesure et adaptée à vos objectifs
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales mattis facilisis. Morbi non nisi id augue pharetra ultrices sit amet sit amet erat. Curabitur elementum justo nec orci vulputate, at semper odio fringilla. Aliquam vitae arcu porttitor nisi maximus interdum. Nam viverra convallis nisl, quis commodo justo dapibus a. Vivamus tempus nibh ligula. Pellentesque habitant morbi tristique senectus et.
    </p>
  </div>
  <figure class="cover-image">
    <img src="./uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
  </figure>
</section>

<!-- Bloc Service Vente en ligne -->
<section class="bloc-service">
  <div class="text">
    <h2>
		Le E-Commerce à portée de main pour la vente en ligne
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales mattis facilisis. Morbi non nisi id augue pharetra ultrices sit amet sit amet erat. Curabitur elementum justo nec orci vulputate, at semper odio fringilla. Aliquam vitae arcu porttitor nisi maximus interdum. Nam viverra convallis nisl, quis commodo justo dapibus a. Vivamus tempus nibh ligula. Pellentesque habitant morbi tristique senectus et.
    </p>
  </div>
  <figure class="cover-image">
    <img src="./uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
  </figure>
</section>

<!-- Parallax -->
<figure class="parallax no-mobile">
  <img src="./uploads/images/home/home-header.jpg" alt="Creative Eye Studio - Webmaster freelance sur Paris" />
</figure>

<!-- SECTION À PROPOS -->
<section id="about-home" class="columns-block-container">
  <h2>
    Pourquoi faire appel à moi ?
  </h2>
  <div class="columns-block">
    <article class="columns-block-item">
    	<h3>Un prestataire unique pour votre image</h3>
      <p>
        Un prestataire unique peut assurer une communication homogène ainsi qu’un gain de temps dans sa réalisation. Un seul contact pour toutes vos questions, simple et efficace.
      </p>
    </article>
    <article class="columns-block-item">
    	<h3>Un savoir-faire reconnu par ses associés</h3>
      <p>
        Avec une recherche constante de l’excellence et 100% de mes clients satisfaits, je mets à votre disposition mes compétences qui évoluent au fil des années.
      </p>
    </article>
    <article class="columns-block-item">
    	<h3>Disponible sur toute la France</h3>
      <p>
        Qui dit métier digital, dit disponibilité dans le monde entier. Je suis donc disponible à vous apporter mon expertise. N’hésitez pas à faire appel à moi pour votre projet.
      </p>
    </article>
  </div>
</section>