{% extends 'admin.html.twig' %}

{% block title %}Ajouter un nouvel article{% endblock %}

{% block body %}

<section class="bloc1">
    <h2>Ajouter un nouvel article</h2>
    {{ form(form) }}
</section>

{% endblock %}