{% extends 'admin.html.twig' %}

{% block title %}Ajouter une nouvelle page{% endblock %}

{% block body %}

<section class="bloc1">
    <h2>Ajouter une nouvelle page</h2>
    {{ form(form) }}
</section>

{% endblock %}