{% extends 'admin.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}

<!-- Pages et articles -->
<div class="content-blocs">
    <section class="bloc2">
        <h2>Dernières pages</h2>
    </section>
    <section class="bloc2">
        <h2>Dernièrs articles</h2>
    </section>
</div>

<!-- Utilisateurs -->
<section class="bloc2">
    <h2>Utilisateurs</h2>
</section>

{% endblock %}
