{% extends 'admin.html.twig' %}

{% block title %}Javascript du site{% endblock %}

{% block body %}

<section class="bloc1">
    <h2>Javascript du site</h2>
    {{ form_start(form) }}
        {{ form_row(form.code_front, {
            label: 'Code source du JS'
        }) }}
    {{ form_end(form) }}
</section>

{% endblock %}