<footer>
  <p><a href="{{ path('page_view', {slug: 'mentions-legales'}) }}">Mentions légales</a> | <a href="{{ path('page_view', {slug: 'politique-de-confidentialite'}) }}">Confidentialité</a>
    <br />
    Conception et développement : <a href="https://www.creative-eye.fr" rel="noopener" target="_blank">Creative Eye Studio</a>
  </p>
</footer>