<header>&nbsp;</header>

<nav>
  <ul>
    <li><a href="{{ path('page_view', {slug: 'index'}) }}" title="Accueil">Accueil</a></li>
    <li><a href="{{ path('page_view', {slug: 'blog'}) }}" title="Actualités">Actualités</a></li>
  </ul>
</nav>