body{
    margin: 0;
    background-color: #263238;
    font: 300 1em/1.5em "Montserrat";
    color: rgba($color: #fff, $alpha: .7);
}

a {
    color: #81f3ff;
    text-decoration: none;
    position: relative;
    transition-duration: .5s;
    &::after{
        content: "";
        position: absolute;
        bottom: -.125rem;
        left: 0;
        width: 100%;
        border-top: 1px solid #81f3ff;
        transition-duration: .5s;
    }
    @media screen and (min-width: 1200px) {
        &:hover{
            &::after{
                left: inherit;
                right: 0;
                width: 0%;
            }
        }
    }
}

.no-mobile{
    @media screen and (max-width: 767px) {
        display: none;
    }
}