<main>
<h1>Mentions l&eacute;gales du site</h1>
<!-- Éditeur du site -->

<section>
<h2>&Eacute;diteur du site</h2>
</section>
<!-- Concepteur du site -->

<section>
<h2>Concepteur&nbsp;du site&nbsp;</h2>
</section>
<!-- Hébergeur du site -->

<section>
<h2>H&eacute;bergeur du site&nbsp;</h2>
</section>

<p>&nbsp;</p>
</main>