
            {% extends 'base.html.twig' %}
            {% block title %}Test de la balise Title{% endblock %}
            {% block body %}
                <p>Rien &agrave; d&eacute;clarer</p>
            {% endblock %}