/******************************************************/
/********************* VARIABLES **********************/
/******************************************************/
/******************************************************/
/******************* CORPS DE SITE ********************/
/******************************************************/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
/* line 14, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
body {
  background-color: #1565c0;
  margin: 0;
}

/* line 17, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
body.authentified {
  margin-left: 300px;
}

/* line 22, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
main {
  padding: 2rem 2rem 0;
}

/******************************************************/
/******************** NAVIGATION **********************/
/******************************************************/
/* line 33, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: white;
}

/* line 40, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.navigation ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

/* line 45, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.navigation a {
  font: 300 1.2rem/100% "Lato";
  text-decoration: none;
  color: #242424;
  display: block;
  padding: 1.1rem 1rem;
  border-bottom: 0.0625rem solid #414141;
}

/******************************************************/
/*********************** FONTS ************************/
/******************************************************/
/******************************************************/
/*********************** BLOCS ************************/
/******************************************************/
/* line 82, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.content-blocs {
  display: flex;
  justify-content: space-between;
}

/* line 87, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.bloc1 {
  background-color: white;
  padding: .5rem 2rem 2rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  font-family: "Lato";
  width: 100%;
}

/* line 77, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.bloc1 h2 {
  font: 300 1.75em/120% "Source Sans Pro";
}

/* line 92, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.bloc2 {
  background-color: white;
  padding: .5rem 2rem 2rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  font-family: "Lato";
  width: calc(50% - 1rem);
}

/* line 77, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.bloc2 h2 {
  font: 300 1.75em/120% "Source Sans Pro";
}

/* line 97, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.bloc3 {
  background-color: white;
  padding: .5rem 2rem 2rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  font-family: "Lato";
  width: calc(33.33% - 1rem);
}

/* line 77, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.bloc3 h2 {
  font: 300 1.75em/120% "Source Sans Pro";
}

/* line 102, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.bloc-login {
  background-color: white;
  padding: .5rem 2rem 2rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  font-family: "Lato";
  font-size: 1em;
  font-weight: 400;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

/* line 77, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.bloc-login h2 {
  font: 300 1.75em/120% "Source Sans Pro";
}

/******************************************************/
/*********************** BLOCS ************************/
/******************************************************/
/* line 128, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.btn-add {
  float: right;
}

/* line 130, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.btn-add .btn-link {
  background-color: #1565c0;
  padding: 1rem;
  text-decoration: none;
  font: 300 1.2em/100% "Lato";
  color: white;
  display: inline-block;
}

/******************************************************/
/********************** INPUTS ************************/
/******************************************************/
/* line 141, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
label {
  display: block;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

/* line 148, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
input[type=text], input[type=email], input[type=password] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: .5rem .7rem;
}

/* line 158, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
.cke {
  margin-bottom: 1.2rem !important;
}

/* line 162, ../../../../../Users/kevinrifa/Documents/Creative_Eye_Studio/cms-projects/public/css/admin/sass/style.scss */
button {
  background-color: #1565c0;
  padding: 1rem;
  text-decoration: none;
  font: 300 1.2em/100% "Lato";
  color: white;
  display: inline-block;
  cursor: pointer;
  border: none;
}

/*# sourceMappingURL=style.css.map */